/* .container {

    padding: 50px 30px;
    margin: 50px auto;
    border-radius: 25px;
    background-color: #FDF4E3;
}



.list {
    display: flex;
    justify-content: space-between;
    padding: 0;
} */